{{#partial "scripts"}}
    <link rel="stylesheet" href="/homepage.css">
{{/partial}}


{{#partial "content"}}

    <div class="jumbotron">Local Hack-A-thons!</div>

    <div class="row container-fluid">
        {{#if hacks}}
            {{#each hacks}}

                <div class="container-fluid col-md-4 hackathons">
                    <a href="/hackathons/{{id}}">
                    <h1 class="imgText">{{focus}}<br><p>{{location}}</p></h1>
                    <img src="/images/img-{{id}}.jpg" alt="Sorry, out of images" class="fluidImages">
                    </a>
                </div>

            {{/each}}
        {{else}}
            <div class="col-md-12">
                <h1>Looks like we have no Hackathons coming up.</h1>
            </div>
        {{/if}}

        <div class="row">
            <div class="col-md-12 hackerSpace container-fluid">
                <h3>If you know of any upcoming Hackathons, help us out and post it here.</h3>
                <a href="/hackathons/registration"><h1 class="btn btn-primary">Register</h1></a>
            </div>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}