{{#partial "content"}}
    <div class="jumbotron">

        <h1>{{thisHack.focus}}</h1>
        <h6>{{thisHack.location}}</h6>
    </div>
        {{#if teams}}
            <div class="row container-fluid">
                {{#each teams}}
                    <div class="container-fluid col-md-4">
                        <h1>{{teamName}} </h1>
                        <h6>{{teamBlurb}}</h6>
                        <!--<h6>Currently THIS WILL BE A MEMBERS METHOD TO RETURN ALL MEMBERS team members.</h6>-->
                        <a href="/hackathons/{{thisHack.id}}/team/{{teamId}}/edit"><button class="btn btn-info">Add/Edit</button></a>
                    </div>
                {{/each}}
            </div>
            <div class="container-fluid row register">
                <h1>Want to register another team?</h1>
                <a href="/hackathons/{{thisHack.id}}/teams/registration"><button class="btn btn-info">Register</button></a>
            </div>
        {{else}}
            <div class="container-fluid register">
                <h1>Looks like we have no teams yet for {{thisHack.focus}}</h1>
                <h4>Help us out by registering a team!</h4>
                <a href="/hackathons/{{thisHack.id}}/teams/registration"><button class="btn btn-info">Register</button></a>
            </div>
        {{/if}}
        <div class="container-fluid row register">
            <h1>Did this event already occur?</h1>
            <a href="/hackathons/{{thisHack.id}}/remove"><button class="btn btn-info">Remove</button></a>
        </div>


{{/partial}}

{{> layout.hbs}}