{{#partial "content"}}
    <div class="container-fluid row">
        <div class="jumbotron">
            <h1>Welcome, {{thisTeam.teamName}}</h1>
            <h4>{{thisTeam.teamBlurb}}</h4>
            <h5>{{members}} total members</h5>
        </div>
        {{#if squad}}
            <div class="row">
                {{#each squad}}
                    <div class="container-fluid col-md-4 squadmems">
                        <h3>{{memberName}}</h3>
                        <h4>{{memberLocation}}</h4>
                    </div>
                {{/each}}
            </div>
        {{/if}}
        <div class="row container-fluid">
            <div class="container col-md-4">
                <h1>Add Member</h1>
                <h4>We just need a little bit of information about them</h4>
                <form action="/team/{{thisTeam.teamId}}/addMember" method="post">
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input id="name" name="name" type="text" class="inputs" required>
                    </div>
                    <div class="form-group">
                        <label for="city">City: </label>
                        <input id="city" name="city" type="text" class="inputs"required>
                    </div>
                    <button type="submit" class="btn btn-info">Add</button>
                </form>
            </div>
            <div class="container col-md-4">
                <h1>Change Name</h1>
                <form action="/team/{{thisTeam.teamId}}/changedName" method="post">
                    <div class="form-group">
                        <label for="newName">New Name: </label>
                        <input id="newName" name="newName" type="text" class="inputs" required>
                    </div>
                    <button type="submit" class="btn btn-info">Change Name</button>
                </form>
            </div>
            <div class="container col-md-4">
                <h1>Remove Member</h1>
                <h4>All we need is their name</h4>
                <form action="/team/{{thisTeam.teamId}}/removeMember" method="post">

                    <div class="form-group">
                        <label for="noName">Their Name:</label>
                        <input id="noName" name="noName" type="text" class="inputs" required>
                    </div>
                    <button type="submit" class="btn btn-info">Remove</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row container-fluid">
        <div class="container-fluid col-md-6">
            <h1>Remove this team?</h1>
            <a href="/team/{{thisTeam.teamId}}/remove"><button class="btn btn-info">Remove</button></a>
        </div>
        <div class="container col-md-6">
            <h1>Update team message:</h1>
            <form action="/team/{{thisTeam.teamId}}/changedBlurb" method="post">
                <div class="form-group">
                    <label for="blurb">New blurb: </label>
                    <input id="blurb" name="blurb" type="text" class="inputs" required>
                </div>
                <button type="submit" class="btn btn-info">Update</button>
            </form>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}